@use '@angular/material' as mat;

// defines font-family for angular material components
$base-font-family: 400, 500, 'effra', sans-serif;
$my-custom-typography: mat.define-legacy-typography-config(
  $font-family: $base-font-family
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($my-custom-typography);`
@include mat.all-legacy-component-typographies($my-custom-typography);
@include mat.legacy-core();

@import 'imports';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.u-inheritSize {
  width: inherit;
  height: inherit;
}

.u-width20 {
  width: 20%;
}

.success-snackbar {
  background-color: green;
  color: white;
}

.failure-snackbar {
  background-color: red;
  color: white;
}
