@use '@angular/material' as mat;

// defines font-family for angular material components
$base-font-family: 400, 500, 'effra', sans-serif;
$my-custom-typography: mat.define-typography-config(
  $font-family: $base-font-family
);
@include mat.core($my-custom-typography);

@import 'imports';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.u-inheritSize {
  width: inherit;
  height: inherit;
}

.u-width20 {
  width: 20%;
}


