<file-list-toolbar
  (searchTerm)="onSearchTerm($event)"
  (refreshList)="onRefreshList()"
  (upload)="onUpload($event)"
></file-list-toolbar>

<mat-progress-bar
  *ngIf="uploading$ | async"
  class="mt-5"
  mode="indeterminate"
></mat-progress-bar>

<!-- LIST -->
<div class="mt-5">
  <span *ngIf="fileList$ | async; let list;">
    <div
      *ngIf="!list.list"
      class="h-100 w-100 d-flex align-items-center justify-content-center"
    >
      <mat-spinner></mat-spinner>
    </div>
    <span *ngIf="list.list">
      <mat-grid-list *ngIf="list.list.length" cols="2" rowHeight="2:1">
        <span *ngFor="let file of list.list; let index=index">
          <mat-grid-tile>
            <file-list-item
              [file]="file"
              (delete)="onDeleteFile(file)"
            ></file-list-item>
          </mat-grid-tile>
        </span>
      </mat-grid-list>
      <p *ngIf="!list.list.length">No files!</p>
    </span>
  </span>
</div>
