<mat-progress-bar
  *ngIf="uploading$ | async"
  class="mt-5"
  mode="indeterminate"
></mat-progress-bar>

<!-- LIST -->
<div class="p-fileListPage__listContainer">
  <file-list-toolbar
    (searchTerm)="onSearchTerm($event)"
    (refreshList)="onRefreshList()"
    (upload)="onUpload($event)"
    class="mb-5"
  ></file-list-toolbar>
  <span *ngIf="fileList$ | withLoading | async; let list;">
    <div
      *ngIf="list.loading"
      class="h-100 w-100 d-flex align-items-center justify-content-center"
    >
      <mat-spinner></mat-spinner>
    </div>
    <span *ngIf="!list.loading">
      <mat-grid-list
        *ngIf="list.list.data.length"
        cols="4"
        rowHeight="150px"
        gutterSize="20px"
      >
        <span
          *ngFor="let file of list.list.data; let index=index; trackBy: trackByFn"
        >
          <mat-grid-tile>
            <file-list-item
              [file]="file"
              (delete)="onDeleteFile(file)"
            ></file-list-item>
          </mat-grid-tile>
        </span>
      </mat-grid-list>
      <!-- PAGINATION -->
      <div class="d-flex mt-2 justify-content-end">
        <button
          mat-flat-button
          class="mr-2"
          color="primary"
          [disabled]="!list.list.prev_page_url"
          (click)="onClickPrevious()"
        >
          Previous
        </button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="!list.list.next_page_url"
          (click)="onClickNext()"
        >
          Next
        </button>
      </div>
      <p *ngIf="!list.list.data.length">No files!</p>
    </span>
  </span>
</div>
