@import 'variables';

.c-fileUpload {
  &__dragDropArea {
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: all $transition-time;

    &--dragging {
      background-color: aqua;
    }

    &:hover {
      background-color: aqua;
    }
  }
}
