<form
  [formGroup]="formGroup"
  class="container d-flex flex-column justify-content-center"
  (ngSubmit)="onSubmit()">
  <mat-form-field
    appearance="fill">
    <mat-label>Email</mat-label>
    <input
      id="emailField"
      matInput
      placeholder="Email"
      type="text"
      formControlName="email" />
    <mat-error
      id="emailErrorRequired"
      *ngIf="emailControl.errors?.['required']">
      Email is required
    </mat-error>
    <mat-error
      id="emailErrorPattern"
      *ngIf="emailControl.errors?.['pattern']">
      Email is invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field
    class="mt-2"
    appearance="fill">
    <mat-label>Password</mat-label>
    <input
      id="passwordField"
      matInput
      type="password"
      placeholder="Password"
      formControlName="password" />
    <mat-error
      id="passwordError"
      *ngIf="passwordControl.errors?.['required']">Password is required</mat-error>
  </mat-form-field>
  <div class="row d-flex justify-content-center">
    <button
      class="mt-4 col-3"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="isLoading || formGroup.invalid">
      Submit
    </button>
  </div>
</form>
