<div *ngIf="file$ | withLoading | async; let file;">
  <div
    *ngIf="file.loading"
    class="w-100 d-flex justify-content-center align-items-center mt-5"
  >
    <mat-spinner> </mat-spinner>
  </div>
  <div *ngIf="!file.loading" class="d-flex flex-column">
    <h2 class="d-flex justify-content-center mb-5">{{file.name}}</h2>

    <div class="mt-5">
      <p>Uploaded at: {{file.created_at | date}}</p>
      <button
        mat-flat-button
        color="primary"
        [disabled]="isDownloading"
        (click)="onClickDownload(file)"
      >
        Download file
      </button>
    </div>
  </div>
</div>
