<mat-drawer-container class="h-100" autosize>
  <mat-drawer #drawer mode="side" class="u-width20">
    <div class="p-pages__linksContainer">
      <a [routerLink]="'./files'" routerLinkActive="active-link">Files</a>
      <a [routerLink]="'./some-other-module'" routerLinkActive="active-link"
        >Some other module</a
      >
    </div>
  </mat-drawer>

  <mat-drawer-content class="p-4">
    <!-- TOOLBAR -->
    <div class="d-flex justify-content-between">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>

      <span class="d-flex align-items-center">
        <button
          mat-flat-button
          color="primary"
          class="mr-2"
          (click)="onClickUploadFile()"
        >
          Upload file
        </button>

        <form [formGroup]="searchFormGroup">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input
              id="searchTerm"
              matInput
              placeholder="Search"
              type="text"
              formControlName="term"
            />
          </mat-form-field>
        </form>
      </span>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
