<mat-drawer-container class="h-100" autosize>
  <mat-drawer #drawer mode="side" class="u-width20 p-2">
    <div class="d-flex w-100 justify-content-center mb-5">
      <button
        mat-flat-button
        color="primary"
        class="mr-2"
        (click)="onClickLogout()"
      >
        Logout
      </button>
    </div>
    <side-nav-links></side-nav-links>
  </mat-drawer>

  <mat-drawer-content class="p-4">
    <button
      type="button"
      class="position-absolute"
      mat-flat-button
      color="primary"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="p-pages__outletContainer">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
